<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cat.mapper.DailyMapper">

    <insert id="insertDaily" parameterType="list">
        INSERT INTO tbl_daily
        <trim prefix="(" suffix=")" suffixOverrides=",">
            PROJECT_ID, TIME, CONTENT, WORK_HOURS, USER_ID, CREATOR, CREATE_DATE, IS_DELETED
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.projectId, jdbcType=VARCHAR}
            ,#{item.date, jdbcType=CHAR}
            ,#{item.content, jdbcType=VARCHAR}
            ,#{item.workHours, jdbcType=VARCHAR}
            ,#{item.userId, jdbcType=VARCHAR}
            ,'system'
            ,NOW()
            ,'N'
            )
        </foreach>
    </insert>

</mapper>