<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cat.mapper.DailyMapper">

    <insert id="insertDaily" parameterType="list">
        INSERT INTO tbl_daily
        <trim prefix="(" suffix=")" suffixOverrides=",">
            PROJECT_ID, TIME, CONTENT, WORK_HOURS, USER_ID, CREATOR, CREATE_DATE, IS_DELETED
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.projectId, jdbcType=VARCHAR}
            ,#{item.date, jdbcType=CHAR}
            ,#{item.content, jdbcType=VARCHAR}
            ,#{item.workHours, jdbcType=VARCHAR}
            ,#{item.userId, jdbcType=VARCHAR}
            ,'system'
            ,NOW()
            ,'N'
            )
        </foreach>
    </insert>
    
    <select id="listDailyByMonthAndUserId" parameterType="map" resultType="com.cat.model.Daily">
        SELECT
            T01.CONTENT AS content,
            T01.TIME AS date,
            T01.WORK_HOURS AS workHours,
            T02.`NAME` AS projectName 
        FROM
            `tbl_daily` T01,
            `tbl_project` T02 
        WHERE
            T01.PROJECT_ID = T02.ID 
            AND SUBSTR( T01.TIME, 1, 7 ) = #{month, jdbcType=VARCHAR} 
            AND T01.USER_ID = #{userId, jdbcType=VARCHAR} 
            AND T01.IS_DELETED = 'N' 
            AND T02.IS_DELETED = 'N' 
    </select>

</mapper>