<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cat.mapper.DailyMapper">

 <insert id="insertDaily" parameterType="list">
        INSERT INTO tbl_daily
        <trim prefix="(" suffix=")" suffixOverrides=",">
            PROJECT_ID, TIME, CONTENT, WORK_HOURS, CREATOR, CREATE_DATE, IS_DELETED
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
             #{item.projectId, jdbcType=VARCHAR}
            ,#{item.date, jdbcType=CHAR}
            ,#{item.content, jdbcType=VARCHAR}
            ,#{item.workHours, jdbcType=VARCHAR}
            ,'system'
            ,NOW()
            ,'N'
            )
        </foreach> 
    </insert>

<!--     <insert id="insertDaily" parameterType="list"> -->
<!--         <![CDATA[  -->
<!--             INSERT INTO tbl_daily -->
<!--         ]]> -->
<!--         <trim prefix="(" suffix=")" suffixOverrides=","> -->
<!--             <if test="projectName != null"> -->
<!--                 PROJECT_NAME, -->
<!--             </if> -->
<!--             <if test="time != null"> -->
<!--                 TIME, -->
<!--             </if> -->
<!--             <if test="content != null"> -->
<!--                 CONTENT, -->
<!--             </if> -->
<!--             <if test="workHours != null"> -->
<!--                 WORK_HOURS, -->
<!--             </if> -->
<!--             CREATOR, -->
<!--             CREATE_DATE, -->
<!--             IS_DELETED -->
<!--         </trim> -->
<!--         <trim prefix="VALUES (" suffix=")" suffixOverrides=","> -->
<!--             <if test="projectName != null"> -->
<!--                 #{projectName, jdbcType=VARCHAR}, -->
<!--             </if> -->
<!--             <if test="time != null"> -->
<!--                 #{time, jdbcType=VARCHAR}, -->
<!--             </if> -->
<!--             <if test="content != null"> -->
<!--                 #{content, jdbcType=VARCHAR}, -->
<!--             </if> -->
<!--             <if test="workHours != null"> -->
<!--                 #{workHours, jdbcType=VARCHAR}, -->
<!--             </if> -->
<!--             'system', -->
<!--             NOW(), -->
<!--             'N' -->
<!--         </trim> -->
<!--     </insert> -->

</mapper>