<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cat.mapper.ProjectMapper">

    <!-- 获得人员信息 -->
    <select id="listProject" resultType="com.cat.model.Project">
        <![CDATA[
            SELECT
                T01.ID AS id,
                T01. NAME AS NAME
            FROM
                tbl_project T01
            WHERE
                IS_DELETED = 'N'
            ORDER BY
                T01. NAME ASC,
                T01.ID ASC
        ]]>
    </select>

    <select id="getNowDate" resultType="java.lang.String">
        <![CDATA[
            SELECT DATE_FORMAT(NOW(), '%Y-%m-%d')
        ]]>
    </select>
</mapper>